magenta==2.1.4
tensorflow==2.9.1
tensorflow-probability==0.17.0
dm-sonnet==2.0.0
absl-py==1.2.0
note-seq==0.0.3
pretty-midi==0.2.9
mido==1.2.6
librosa==0.7.2
numba==0.49.1
scipy==1.7.3
numpy==1.21.6
Pillow==9.2.0
matplotlib==3.5.2
imageio==2.20.0
scikit-image==0.19.3
mir-eval==0.7
pygtrie==2.5.0
wheel==0.37.1
